// cool colors
$maximum-blue: #40BCD8;
$cerulean: #39A9DB;
$spanish-blue: #1C77C3;
$perm-red: #D63230;
$deep-saffron: #F39237;
$mountain-meadow: #09BC8A;
$pantone-green: #2BA84A;
$emerald: #5DD57B;

$active-pasta-color: $cerulean;
$active-rep: $spanish-blue;


$app-easing-default: .15s ease-in-out;

// $spacer-1: $spacer;
// $spacer-2: $spacer * 2;
// $spacer-3: $spacer * 3;
// $spacer-4: $spacer * 4;
// $spacer-5: $spacer * 5;

